.App {
  text-align: center;
}

.App-logo {
  height: 400px;
}

.App-header {
  background-color: #C8E6C9;
  padding-top: 50px;
  min-height: 100%;
  min-width: 100%;
}

.App-intro {
  font-size: large;
}
